@page
@model TheMusicSea.Pages.BrowseDepartmentModel
@{
	ViewData["Title"] = "Browse";
}
<div class="sidenav">
    <h4>Browse Departments</h4>
    @foreach (var dept in this.Model.Departments)
    {
        <a href="@Url.Page("/BrowseDepartment", new {departmentId = dept.ID})">@dept.Name</a>
    }
</div>
<div class="text-center">
    <h1 class="display-4">Browse @Model.Department?.Name</h1>
    <p><strong>@Model.Department?.Description</strong></p>
</div>