@page
@model TheMusicSea.Pages.Administration.Item.ListItemsModel
@{
	ViewData["Title"] = "Admin - Items";
}
<div class="text-center">
    <h1 class="display-4">Administration - Items</h1>
</div>
<hr />
<div class="container-fluid">
	<a href="@Url.Page("/Administration/Item/AddUpdateItem")">Add New Item</a>
	<form method="post">
		<select name="itemId" asp-for="SelectedItemID" asp-items="Model.Options"></select>
		<input type="submit" value="Update"/>
	</form>
</div>
